In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df  = pd.read_csv("PS_20174392719_1491204439457_log.csv")

In [3]:
df.shape

(6362620, 11)

In [4]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [6]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
df['type'].value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [8]:
df['nameOrig'].value_counts()

C724452879     3
C1677795071    3
C1902386530    3
C1065307291    3
C1784010646    3
              ..
C871098785     1
C1243514596    1
C1894139543    1
C1389886451    1
C1722522489    1
Name: nameOrig, Length: 6353307, dtype: int64

In [9]:
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [11]:
df_fraud = df[df['isFraud'] == 1]

In [12]:
df_fraud.shape

(8213, 11)

In [13]:
df_fraud.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.0,C1305486145,181.0,0.0,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.0,C840083671,181.0,0.0,C38997010,21182.0,0.0,1,0
251,1,TRANSFER,2806.0,C1420196421,2806.0,0.0,C972765878,0.0,0.0,1,0
252,1,CASH_OUT,2806.0,C2101527076,2806.0,0.0,C1007251739,26202.0,0.0,1,0
680,1,TRANSFER,20128.0,C137533655,20128.0,0.0,C1848415041,0.0,0.0,1,0

In [14]:
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [17]:
col = 'type'
le = LabelEncoder()
a=le.fit_transform(df[col]).reshape(-1,1)
ohe = OneHotEncoder(sparse=False)
column_names = [col+ "_"+ str(i) for i in le.classes_]
categorical_df = pd.DataFrame(ohe.fit_transform(a),columns =column_names)

/Users/deepak/anaconda3/envs/py36/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [18]:
categorical_df.shape
categorical_df.head()

(6362620, 5)

   type_CASH_IN  type_CASH_OUT  type_DEBIT  type_PAYMENT  type_TRANSFER
0           0.0            0.0         0.0           1.0            0.0
1           0.0            0.0         0.0           1.0            0.0
2           0.0            0.0         0.0           0.0            1.0
3           0.0            1.0         0.0           0.0            0.0
4           0.0            0.0         0.0           1.0            0.0

In [19]:
df_new = df[['amount', 'oldbalanceOrg', 'newbalanceOrig', 'isFraud']]

In [20]:
df_new = pd.concat([categorical_df,df_new],axis=1)

In [21]:
df_new.shape
df_new.head()

(6362620, 9)

,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER,amount,oldbalanceOrg,newbalanceOrig,isFraud
0,0.0,0.0,0.0,1.0,0.0,9839.64,170136.0,160296.36,0
1,0.0,0.0,0.0,1.0,0.0,1864.28,21249.0,19384.72,0
2,0.0,0.0,0.0,0.0,1.0,181.00,181.0,0.00,1
3,0.0,1.0,0.0,0.0,0.0,181.00,181.0,0.00,1
4,0.0,0.0,0.0,1.0,0.0,11668.14,41554.0,29885.86,0

In [22]:
df_new.to_csv('data-with-features.csv', index=False)